{# Page affichée par défaut lorsqu'une erreur survient lors de l'accès à la page #}
{# Pour les erreurs HTTP 400, 404 et 500, se référer aux fichiers associés #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}" />
{% endblock %}

{% block page %}
    <div class="container error-container">
        <div class="row">
            <h1>Oups ! Une erreur est survenue :(</h1>
            <h3>Erreur {{ status_code }} : {{ status_text }}</h3>

            <p>
                Veuillez nous excusez de la gène occasionnée.<br/>
                Si le problème persiste, merci de contacter les administrateurs du site.
            </p>

            <img src="{{ asset('img/error_logo.png') }}">
        </div>
    </div>
{% endblock %}
