{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/api.css') }}" />
{% endblock %}

{% block body %}
    <div>
        <h1>Documentation de l'API</h1>
        <p></p>
    </div>
{% endblock %}